{% extends "index.html" %}

{% block content %}

{% set productList = craft.entries({section:'ourProducts'})%}

{# First find params in URL query string. #}
{% set business = craft.app.request.getParam('business') %}
{% set productQuery = craft.app.request.getParam('productQ') %}
{% set city = craft.app.request.getParam('city') %}



{# IP search attempt, didn't work due to localhost IP  #}
{# {{ craft.app.request.userIP }} #}
{# {% set ip =  craft.app.request.userIP %}
{% set userLocation = craft.maps.getUserLocation([ip]) %} #}
{# {% set userLocation = craft.maps.getUserLocation([postcode]) %}  #}

<div class="productList">

    <div>
        <h1>Find your local stockist</h1>
    </div>

    <form >
        <label>Filter by </label>
        <input type="search" name="business" placeholder="{{(business)? business:'Name or Address'}}">
        
        <label>and/or product:</label>
        <select name="productQ" id="">
            <option value="">All</option>
            {% for product in productList %}
                <option {{(productQuery==product.slug)? 'selected':''}} value="{{product.slug}}">{{product.title}}</option>
            {% endfor %}
        </select>
         <label>Sort closest to you</label>
        <input type="search" name="city" placeholder="{{(city)? city:'Nearest City'}}">
        
        <button type="submit">Go</button>
    </form>
    

    
    {# Then find products that match the slugs in query string. #}
    {% set product = craft.entries.section('ourProducts').slug(productQuery) %}
    
    {# setup search#}
    {% set searchParams = {
      relatedTo:  product,
      section: 'stockists'
    } %}

    {# Limited to within 10 miles around searched city #}
    {% set locationParams = {
        location:city,
        radius: 10,
        unit: 'mi',
    } %}
    
    {# Find filtered Entries #}
    
    {# ie All Products, just a search #}
    {% if productQuery=='' %}

        {#  A name or location search #}
        {% if business|length %}
            {% set entries = craft.entries(searchParams).search(business).order('score').stockistLocation(locationParams).all() %}

        {#  Both fields left empty #}
        {% else %}
            {% set entries = craft.entries.section('stockists').stockistLocation(locationParams).all() %}
        {% endif %}
        

    {% else %}

        {% if business|length %}
            {% set entries = craft.entries(searchParams).search(business).order('score').stockistLocation(locationParams).all() %}
        {% else %}
            {% set entries = craft.entries(searchParams).order('score').stockistLocation(locationParams).all() %}
        {% endif %}

    {% endif %}
    

    {% set allStockists = craft.entries.section('stockists') %}


        {# <p>postcode {{userLocation.postcode}}</p> #}
    {% if entries|length %}
        <p>Our stockists:</p>

            {% for entry in entries %}
            
            <a href="{{ entry.url }}">
                <div class="stockist">
                    <div>
                        <h3> {{ entry.title }} </h3>
                        <p>
                        {{ entry.addressLine1 }}{{ entry.addressLine2 }} {{ entry.addressLine3 }}{{ entry.addressLine4}} {{ entry.postcode }}
                        </p>
                    </div>
                    <div>
                        <h5>Stocks our products:</h5>
                        {% for product in entry.productsList %}
                            <p>{{product.productName}}</p>
                        {% endfor %}
                    </div>
                </div>
            </a>

            {% endfor %}

    {% else %}
    {# If results are blank, present all stockists with message #}

        <p>Your search didn’t return any results. Here are all our stockists: </p>
    
        {% for entry in allStockists %}
            <a href="{{ entry.url }}">
                <div class="stockist">
                    <div>
                        <h3> {{ entry.title }} </h3>
                        <p>
                        {{ entry.addressLine1 }}{{ entry.addressLine2 }} {{ entry.addressLine3 }}{{ entry.addressLine4}} {{ entry.postcode }}
                        </p>
                    </div>
                    <div>
                        <h5>Stocks our products:</h5>
                        {% for product in entry.productsList %}
                            <p>{{product.productName}}</p>
                        {% endfor %}
                    </div>
                </div>
            </a>

        {% endfor %}
        
    {% endif %}

</div>


{% endblock %}
