{% extends "index.html" %}

{% block content %}

{% set productList = craft.entries({section:'ourProducts'})%}

{# First find params in URL query string. #}
{% set business = craft.app.request.getParam('business') %}
{% set productQuery = craft.app.request.getParam('productQ') %}

<div class="productList">
    <div>
        <h1>Find your local stockist</h1>
    </div>

    <form sprig>
        <label>Filter by </label>
        <input type="search" name="business" aria-label="NameSearch" placeholder="{{(business)? business:'Name or Address'}}">
        
        <label>and/or product:</label>
        <select name="productQ" id="">
            <option value="">All</option>
            {% for product in productList %}
                <option {{(productQuery==product.slug)? 'selected':''}} value="{{product.slug}}">{{product.title}}</option>
            {% endfor %}
        
        </select>
        <button type="submit">Go</button>
    </form>
    

    
    {# Then find categories that match the slugs in your query string. #}
    {% set product = craft.entries.section('ourProducts').slug(productQuery) %}
    
    {# setup search#}
    {% set searchParams = {
      relatedTo:  product,
      section: 'stockists'
    } %}
    
    {# Find entries #}
    
    {% if productQuery=='' %}
        {% if business|length %}
            {% set entries = craft.entries(searchParams).search(business).order('score').all() %}
        {% else %}
            {% set entries =craft.entries.section('stockists') %}
        {% endif %}
        

        {% else %}

            {% if business|length %}
                {% set entries = craft.entries(searchParams).search('Papa').order('score') %}
            {% else %}
                {% set entries = craft.entries(searchParams).order('score') %}
            {% endif %}

    {% endif %}
    

    {% set allStockists = craft.entries.section('stockists') %}


    {% if entries|length %}
        <p>Our stockists:</p>

            {% for entry in entries %}
            <div>
                <a href="{{ entry.url }}">
                    {{ entry.title }}
                    {{ entry.fulladdress }}
                </a>
                    <p>Stocks our products:</p>
                    {% for product in entry.productsList %}
                        <p>{{product.productName}}</p>
                    {% endfor %}
            </div>

            {% endfor %}

    {% else %}
        <p>Your search didn’t return any results. Here are all our stockists: </p>
    
        {% for entry in allStockists %}
            <div>
                <a href="{{ entry.url }}">
                    {{ entry.title }}
                    {{ entry.addressLine1 }}{{ entry.addressLine2 }} {{ entry.addressLine3 }}{{ entry.addressLine4}} {{ entry.postcode }}

                </a>
                    <p>Stocks our products:</p>
                    {% for product in entry.productsList %}
                        <p>{{product.productName}}</p>
                    {% endfor %}
            </div>

        {% endfor %}
        
    {% endif %}


</div>


{% endblock %}
