{% extends "index.html" %}

{% block content %}

    {# Determining if their is a lat and longitude value, if not will center and marker based on postcode #}
    {% if ( entry.latitude | length < 0 ) or ( entry.longitude | length < 0 ) %}
        {% set map =craft.maps.embed({
            center: [entry.latitude, entry.longitude],
            markers: [[entry.latitude, entry.longitude]]
        }) %}   
        
    {% else %}
            {% set map = craft.maps.embed({
                center: entry.postcode,
                markers: [[entry.postcode]]
            }) %}   
    {% endif %}
<div class="singleStockist">

    <div class="productGeneralInfo">
        <h3>{{entry.businessName}}</h3>
        <p>Stocks our products:</p>
            {% for product in entry.productsList %}
                <a href="{{ product.url}}">
                    {{product.productName}}
                </a>
            {% endfor %}
        <h3>Address:</h3>
        <h5>{{ entry.addressLine1 }}{{ entry.addressLine2 }} {{ entry.addressLine3 }}{{ entry.addressLine4}} {{ entry.postcode }}</h5>
        
        <div class="map">
            {{map}}
        </div>
        
    </div>

</div>


{% endblock %}
